.best   {
    background: url(../img/bg/best-bg.png) center center / cover no-repeat;
}
.best__list {
    display: flex;
    
}

.best__item {
    flex: 1;
    margin-right: 15px;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}

.best__icon {
    display: inline-block;
}