body {
    height: 100%;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    //@include ubuntu ();
    color: $black;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    min-width: 940px;

}

.container  {
    width: 940px;
    margin: 0 auto;
}
.section    {
    height: 100vh;
    min-height: 650px;
    
    &_centered {
        .title {
            width: 100%;
            text-align: center;
        }
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

a { text-decoration: none;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*img {
    width: 100%;
    height: auto;
}*/

ul   {
    padding: 0;
    margin: 0;
    li { list-style: none;}
} 
